.kotak 1{
    background-color: #f9ffe6;
    font-family: shadow;
    width: 110px;
    height: 40%;
}
.kotak 2{
    background-color: rgb(102, 217, 255);
    font-family: Avant Garde;
    width: 90px;
    height: 40%;
}
