			.header{
				background-color: lightblue;
				width:100%;
				height:50px;
				text-align: center;
			}
			.content{
				float:left;
				width:80%;
				background-color: lightgreen;
			}
			.main{
				
				width:100%;
				background-color: lightgray;
			}
			.footer{
				clear:both;
				height: 50px;
				width: 100%;
				text-align: center;
				background-color: lightblue;
			}
			.sidebar{
				float:right;
				width:20%;
				background-color: red;
			}
			.kepala {
				text-align: left;
			}
