body {
    color : rgb(245, 255, 250);
    background-color: #008080;
}
p {
    background-color: rgb(40, 178, 170); 
    color: rgb(245, 255, 250);
}
a {
    color: green;
    background-color: rgb(221, 71, 184);
}
img {
    color: rgb(121, 198, 235); 
}
