body {
    color : rgb(245, 255, 250);
    background-color: #096b6bda;
}
h{
    background-color: rgb(44, 155, 149)
}
p {
    background-color: rgb(106, 212, 245); 
    color: rgb(245, 255, 250);
}
a {
    color: rgb(216, 191, 216);
}
a:hover {
    color: red;
}
table {
    color: rgb(47, 79, 79)
}
